[submodule "alvium-csi2-driver"]
	url = https://github.com/alliedvision/alvium-csi2-driver.git
	path = alvium-csi2-driver
[submodule "nvidia-oot"]
	url = https://github.com/alliedvision/nvidia-oot.git
	path = nvidia-oot
[submodule "nvidia-hwpm"]
	url = https://nv-tegra.nvidia.com/r/linux-hwpm.git
	path = nvidia-hwpm
[submodule "nvidia-nvethernetrm"]
	url = https://nv-tegra.nvidia.com/r/kernel/nvethernetrm.git
	path = nvidia-nvethernetrm
[submodule "nvidia-nvgpu"]
	url = https://nv-tegra.nvidia.com/r/linux-nvgpu.git
	path = nvidia-nvgpu
